@import "../../../styles/colors";

.talent {
  cursor: pointer;
}

/* hide radio and label */
.name,
.field{
  position: absolute;
  opacity: 0;
  height: 0;
  width: 0;
}

.icon {
  border: 4px solid;
  transition: border-image 0.1s linear, box-shadow 0.2s linear;
  border-image: linear-gradient(
      to top,
      $tls-matterhorn,
      $tls-nero 50%,
      $tls-matterhorn 50%
    )
    1;

  &.isSelected {
    border: 4px solid;
    border-image: linear-gradient(
        to top,
        $tls-cornflowerblue,
        $tls-charcoal 50%,
        $tls-cornflowerblue 50%
      )
      1;
    box-shadow: 0 0 8px $tls-white;
  }
}
