@import "../../../styles/colors";
@import "../../../styles/mixins";
@import "../../../styles/typings";

$spacer: 20px;

.path {
  display: flex;
  flex-direction: column;
  margin: $spacer 0px;
  text-align: center;
  flex: 1 1 auto;

  @include breakpoint(sm) {
    flex-direction: row;
    align-items: center;
  }
}

.name {
  margin: 0 0 $spacer 0;
  text-transform: uppercase;

  @include breakpoint(sm) {
    margin: 0 $spacer 0 0;
  }
}

.emptyTalent {
  position: absolute;
  opacity: 0;
  height: 0;
  width: 0;
}

.talents {
  display: flex;
  flex: 1;
}

.divider {
  border-bottom: 16px solid rgba($color: $tls-charcoal, $alpha: 0.3);
  margin: $spacer 0;
  flex: 1;
}
