// grey
$tls-zircon: #e8eaea;
$tls-matterhorn: #4e4e4e;
$tls-charcoal: #323232;
$tls-black-russian: #17181a;

// blue
$tls-cornflowerblue: #6eadee;
$tls-cello: #384f66;
$tls-nero: #202020;
$tls-tangaroa: #080f12;

//white
$tls-white: #e2e2e2;
